@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

*:root {
    --dark-gray: #26282B;
    --gray: #353941;
    --light-gray: #484c53;
    --disb-bg-color: #34363b;
    --font-color: #ccc;
    --dis-font-color: #aaa;
    --green: #005e50;
    --red: #42000d;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-gray);
}

header {
    width: 100vw;
    border-bottom: 3px solid var(--light-gray);
}

header h1 {
    text-align: center;
    font-family: 'Lato', Helvetica, sans-serif;
    color: var(--font-color);
    padding: 25px;
}

.game-container {
    margin: 50px auto;
    height: 100px;
    min-width: 75%;
    width: fit-content;
    background: var(--gray);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-letra {
    width: 50px;
    height: 50px;

    margin: 0 5px;

    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

.caixa-letra:disabled {
    border: 5px solid var(--dark-gray);
    border-radius: 10px;
    background-color: var(--light-gray);
    color: var(--font-color);
}

.tentativas-container {
    background-color: var(--gray);
    color: var(--font-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 5px;
    margin: 50px auto;
    width: fit-content;
    padding: 25px;
}

#tentativas {
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 5px;
    font-family: 'Roboto Mono';
}

.teclado {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

    background-color: var(--gray);

    padding: 25px;
    border-radius: 5px;
}

.tecla {
    display: block;
    width: 50px;
    height: 50px;
    
    border: 5px solid var(--dark-gray);
    border-radius: 10px;
    background-color: var(--light-gray);
    color: var(--font-color);

    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;

    margin: 2.5px;
}

.tecla:hover {
    background-color: var(--disb-bg-color);
    cursor: pointer;
}

.tecla:disabled {
    background-color: var(--disb-bg-color);
    border: none;
    color: var(--dis-font-color);
}

.certa:disabled {
    background-color: var(--green);
    color: var(--dis-font-color);
}

.errada:disabled {
    background-color: var(--red);
    color: var(--dis-font-color);
}

.mensagem-final {
    display: none;
    background-color: var(--gray);
    color: var(--font-color);
    padding: 25px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.mensagem-final button {
    margin: 10px;
    width: 150px;
}

.mensagem-final--ativa {
    display: block;
}

.mensagem-final button {
    border: 5px solid var(--dark-gray);
    background-color: var(--light-gray);
    color: var(--font-color);
    border-radius: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
}

.mensagem-final button:hover {
    background-color: var(--disb-bg-color);
}